*{
    margin: 0px;
    padding: 0px;
}

/***************************************GENERAL******************************************************/
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
/**font-family: 'La Belle Aurore', cursive;**/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;900&display=swap');
/**font-family: 'Public Sans', sans-serif;**/

:root{
    --white : rgba(253, 255, 185, 0.825);
    --black : black;
    --grey : grey;
    
}
/******************************************BODY***************************************************/
/*********************************************HEADER************************************************/
/************************************************MAIN*********************************************/
/***************************************************FIELD-FORM******************************************/
/*********************************************************FOOTER************************************/


